html, body {
    width: 100%;
    height: 100%;
    font-family: 'Play', sans-serif;
    position: relative;
}

.logo {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bolder;
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.backgroundtext {
    font-size: 2rem;
    text-shadow: 0.07rem 0.07rem black;
    letter-spacing: 0.2rem;
    opacity: 0.8;
    color: white;
}

.navbar-offset {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-family: 'Play', sans-serif;
}

.title {
    padding-top: 6rem;
}

.mobiletitle {
    font-size: 0;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.secondtitle {
    letter-spacing: 0.3rem;
    font-family: 'Play', sans-serif;
}

.topic {
    font-family: 'cwTeXHei', sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 0.6rem;
    padding-top: 1rem;
}

.content {
    font-family: 'cwTeXHei', sans-serif;
    padding-bottom: 1rem;
}

.container {
    height: 100%;
}

.nav {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}

#banner {
    height: 100%;
    background-size: cover;
    background-image: url("../image/bg1_2.jpg");
    background-position: center;
    text-align: center;
}

#navbar {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(0,0,0,0.9);
}

#subscribe {
    font-weight: bolder;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
}

#banner-fg {
    height: 85%;
}

#traveler {
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#background2 {
    width: 100%;
    height: 60%;
    background-image: url("../image/1bg.jpg");
    background-size: cover;
    background-position: center;
    z-index:-1;
}
#background3 {
  width: 100%;
  background-image: url("../image/bg3_1.jpg");
  background-size: cover;
  background-position: center;
}
#section1 {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
    border: 0.15rem solid lightgray;
}

#highlight {
    height: 30% ;
    width: 85%;
    z-index:2;
}


footer {
    opacity: 0.5;
    color: gray;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 0.7rem;
    text-transform: uppercase;
}

@media (max-width: 575px) {
    #banner {
        background-attachment: scroll;
    }

    #subscribe {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    #navbar {
        background-color: black;
    }


    #traveler {
        font-size: 1rem;
    }

    #F {
        font-size: 3rem;
        font-weight: bolder;
    }

    #banner-fg {
        height: 75%;
    }

    .navbar-offset {
        padding-bottom: 1.5rem;
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }

    .content {
        padding-bottom: 0.5rem;
        font-size: 0.8rem;
    }

    .topic {
        font-size: 1rem;
        letter-spacing: 0;
        padding-top: 0.5rem;
    }

    .backgroundtext {
        font-size: 1.2rem;
        text-shadow: 0.03rem 0.03rem black;
    }

    .title {
        padding-top: 5rem;
    }

    .secondtitle {
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }

    .mobiletitle {
        font-size: 1.5rem;
    }

    footer {
        font-size: 0.2rem;
        letter-spacing: 0.2rem;
    }
}
