html, body {
    width: 100%;
    height: 100%;
    font-family: 'Play', sans-serif;
    position: relative;
}

.logo {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bolder;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.backgroundtext {
    font-size: 2rem;
    text-shadow: 0.07rem 0.07rem black;
    letter-spacing: 0.2rem;
    opacity: 0.8;
    color: white;
}

.navbar-offset {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-family: 'Play', sans-serif;
}

.title {
    padding-top: 6rem;
}

.mobiletitle {
    font-size: 0;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.secondtitle {
    letter-spacing: 0.3rem;
    font-family: 'Play', sans-serif;
}

.topic {
    font-family: 'cwTeXHei', sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 0.6rem;
    padding-top: 1rem;
}

.content {
    font-family: 'cwTeXHei', sans-serif;
    padding-bottom: 1rem;
}

.container {
    height: 100%;
}

.nav {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}

#banner {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-image: url("../image/main-bg.jpg");
    background-position: center;
    text-align: center;
}

#navbar {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(0,0,0,0.9);
}

#subscribe {
    font-weight: bolder;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
}

#banner-fg {
    height: 85%;
}

#traveler {
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#section1 {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
    border: 0.15rem solid lightgray;
}
#paragraph2{
    height: 120%;
    width:  100%;
    background-image: url("../image/dl-2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: bottom;
}

#highlight {
    height: 50%;
    width: 90%;
    margin-top:7rem;
}
#detail{

}
#cta{
    height: 150%;
    width:  100%;
    background-image: url("../image/footer.jpg");
    background-position:bottom;
    background-size:cover;
    background-repeat:no-repeat;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    font-family: 'Play', sans-serif;
   
}

#email{
    font-family: 'Play', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    font-size: 1rem;
}

footer {
    opacity: 0.5;
    color: gray;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 0.7rem;
}

#fb{
    width: 50%;
}
.img {
    border-radius:50%;
    position:relative;
    opacity:0.4;
}
.img:hover{
    animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 0.8s;
}
@keyframes example {
    0%   {bottom:0px;}
    25%  {bottom:15px;}
    25%  {bottom:0px;}
    50%  {bottom:10px;}
    70%  {bottom:0px;}
    85%  {bottom:5px;}
    100% {bottom:0px;}
}
#footer2{
    height:1rem;
    background-color:black;
}


@media (max-width: 575px) {
    #banner {
        background-attachment: scroll;
    }

    #subscribe {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    #navbar {
        background-color: black;
    }

    #background2 {
        background-attachment: scroll;
    }

    #traveler {
        font-size: 1rem;
    }

    #F {
        font-size: 3rem;
        font-weight: bolder;
    }

    #banner-fg {
        height: 75%;
    }

    .navbar-offset {
        padding-bottom: 1.5rem;
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }

    .content {
        padding-bottom: 0.5rem;
        font-size: 0.8rem;
    }

    .topic {
        font-size: 1rem;
        letter-spacing: 0;
        padding-top: 0.5rem;
    }

    .backgroundtext {
        font-size: 1.2rem;
        text-shadow: 0.03rem 0.03rem black;
    }

    .title {
        padding-top: 5rem;
    }

    .secondtitle {
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }

    .mobiletitle {
        font-size: 1.5rem;
    }

    footer {
        font-size: 0.2rem;
        letter-spacing: 0.2rem;
    }
}
