html, body {
    width:100%;
    height: 100%;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.logo {
  font-size: 1.5rem;
}
.backgroundtext0 {
  font-family: 'Amatic SC', cursive;
  text-shadow: 0.1rem 0.1rem black;
  font-size: 8rem;
  font-weight: 900;
}
.backgroundtext1 {
  color: white;
}
.backgroundtext2 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  opacity: 0.8;
  color: white;


}

#banner1 {
  height: 100%;
  background-size: cover;
  background-image: url("../image/bg5.jpg");
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}

#notifier {
  opacity: 0.8;
}

#banner2 {
  background-color: black;
}
@media (max-width: 575px){
    #banner1 {
        background-attachment: scroll;
    }
    .backgroundtext0 {
      font-size: 5rem;
    }
    .backgroundtext2 {
      font-size: 2rem;
    }
}



#banner1-fg {
  height: 95%;

}
